/* =========================
   FINISHED BOOK TITLE
========================= */

.finished-book__title-button {
  width: 100%;
  display: block;

  margin: auto 0 3px;
  padding: 0;

  overflow: visible;

  border: none;

  background: transparent;
  color: var(--text-h);

  font-size: 11px;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
}

/* =========================
   RATING
========================= */

.profile-book__rating {
  margin-top: var(--space-4);

  color: var(--accent);

  font-size: 9px;
  line-height: 1.2;
}

@media (min-width: 600px) {
  .finished-book__title-button {
    font-size: 12px;
  }

  .profile-book__rating {
    font-size: 10px;
  }
}

@media (min-width: 1100px) {
  .finished-book__title-button {
    font-size: 13px;
  }

  .profile-book__rating {
    font-size: 11px;
  }
}
