.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  border: none;
  background: transparent;

  color: var(--text-h);
  cursor: pointer;
}

.theme-toggle svg {
  display: block;
}

.theme-toggle:hover {
  opacity: 0.6;
}