:root {
  color-scheme: light;

  --text: #6b6375;
  --text-h: #08060d;

  --bg: #ffffff;
  --surface: #ffffff;
  --surface-secondary: #f7f7f7;

  --border: #b8b8b8;
  --border-hover: #777777;

  --code-bg: #f4f3ec;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DARK THEME */

:root.dark {
  color-scheme: dark;

  --text: #b6bbc5;
  --text-h: #f3f4f6;

  --bg: #16171d;
  --surface: #1f2028;
  --surface-secondary: #272832;

  --border: #4b4d59;
  --border-hover: #777a8a;

  --code-bg: #1f2028;

  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);

  --social-bg: rgba(47, 48, 58, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

/* PAGE */

html {
  min-width: 320px;
  min-height: 100%;

  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--text);

  font-family: var(--sans);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

#root {
  width: 100%;
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  background-color: var(--bg);
  color: var(--text);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

/* TEXT */

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

/* LINKS */

a {
  color: var(--text-h);
}

/* CODE */

code,
.counter {
  display: inline-flex;

  font-family: var(--mono);

  border-radius: 4px;

  color: var(--text-h);
}

code {
  padding: 4px 8px;

  font-size: 15px;
  line-height: 135%;

  background-color: var(--code-bg);
}

/* TABLET / MOBILE */

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0;
  }

  h2 {
    font-size: 20px;
  }
}